{
  "plugins": [
    "@vitest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@vitest/legacy-recommended",
    "prettier"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-cond-assign": [
      "error",
      "except-parens"
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "prefer-destructuring": "off"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": {
        "@vitest/env": true
      }
    }
  ]
}
